/* :root {
    --verse-higlight: #f1f9c2;
    --verse-higlight: #ffff9d;
    --ref-hlt: beige;
    --vhlt:#8080809c;
    --nav-bg-color:#f8f8f8;
    --top-bar-bground-color:#ffb1b1;    --scroll-track-bg-color:#878787;
    --scroll-thumb-border-color:#000000;
    --scroll-thumb-hover-border:#939cff;
    --scroll-thumb-hover-bg-color:#555;
} */
/* :root {
    --verse-higlight: #ffff94;
    --ref-hlt:#ffef9d ;
    --nav-bg-color:#f8f8f8;
    --top-bar-bground-color:#427d7f;--top-bar-bground-color:#ffb1b1;    --scroll-track-bg-color:#878787;
    --scroll-thumb-bgcolor:#888;
    --scroll-thumb-border-color:#000000;
    --scroll-thumb-hover-border:#939cff;
    --scroll-thumb-hover-bg-color:#555;
} */
:root {
    --ref-hlt: #f5f1c6;
    --verse-higlight: #ffff92;
    --verse-higlight: #fffb001b;
    --nav-bg-color: #f8f8f8;
    --vhlt-border: #8080809c;
    --vhlt: #ffffc4;
    --top-bar-bground-color: #427d7f;
    --scroll-track-bg-color: #878787;
    --scroll-thumb-border-color: #000000;
    --scroll-thumb-bgcolor: #4b4b4b;
    --scroll-thumb-hover-border: #939cff;
    --scroll-thumb-hover-bg-color: #555;
}

body>svg {
    width: 100% !important;
}

html {
    padding: 0;
    font-size: 14px;
}

body {
    margin: 0;
    overflow-y: hidden;
    /* don't add color to the body, it will hide the svg */
}

#pagemaster {
    position: relative;
    height: 100vh;
    /* border: 2px solid red; */
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(min(auto, 100%), 1fr)); */
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 0;
    /* overflow-y:scroll; */
}

code {
    font-size: 8px;
}

.chptheading {
    background-color: var(--ref-hlt);
    border-bottom: 0.5px solid grey;
    font-size: small;
}

#ppp>span {
    display: block;
}

#refnav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
}

.slidein {
    display: block;
    margin-left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.slideout {
    display: none;
    margin-left: -500px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#refnav>.refnav {
    height: 100%;
    float: left;
}
#refnav #app_settings {
    border-right: 5px solid grey;
    background-color: var(--ref-hlt);
}
#refnav #app_settings * {
    display: block;
    width: 22px;
    padding: 0;
    /* font-size:xx-small; */
}
.refnav .bible_nav {
    height: 100%;
    float: left;
    background-color: var(--nav-bg-color);
    border-color: transparent;
    border-right: 1px solid grey;
    overflow-y: scroll;
}

#refnav .bible_nav * {
    /* font-size: 0.75em; */
    cursor: pointer;
}

#refnav .bible_nav *:hover {
    background-color: var(--ref-hlt);
    font-style: italic;
}

#refnav .bible_nav *:active {
    background-color: var(--verse-higlight);
}

.ref_hlt {
    font-weight: bold;
    font-style: italic;
    background-color: var(--ref-hlt);
    background-color: var(--ref-hlt);
    border-top: 0.25px solid rgba(128, 128, 128, 0.611);
    border-bottom: 0.25px solid rgba(128, 128, 128, 0.611);
}

.tmp_hlt {
    background-color: var(--ref-hlt);
}

#bible_chapters>option {
    display: none;
}

.show_chapter {
    display: block !important;
}

#bible_verses {
    display: none;
}

#bible_verses>option {
    /* display: none; */
    width: 20px;
}

.show_verses {
    /* display: block !important; */
}

.buttons {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--top-bar-bground-color);
    display: flex;
}

.buttons>* {
    padding-top: 0 !important;
    /*
    height: 15px;
    min-width: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 0.8em !important;
    background-color: rgb(245, 245, 245);
    border: 1px solid grey;
    border-width: 0.25px;
    border-radius: 0.5px;
    vertical-align: bottom; */
}

#reference {
    vertical-align: bottom;
}

.buttons button:hover {
    background-color: rgb(252, 245, 114);
}

.strongsnum {
    color: rgb(64, 59, 105);
    /* font-size: 0.85em; */
}

#main {
    /* border: 3px solid orange; */
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    overflow-y: scroll;
    display: flex;
}

#main>*>* {
    padding-left: 5px;
}

#ppp {
    /* height: 50%; */
    /* overflow-y: hidden; */
}

#search_section {
    /* max-width:100px; */
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: royalblue;
}

#ppp>span.verse:last-child {
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

span.verse:hover {
    cursor: pointer;
    background-color: var(--verse-higlight);
}

span.translated:hover {
    /* cursor:pointer; */
    /* background-color:rgba(255, 217, 47, 0.805); */
    border-bottom: 1px dashed rgb(151, 116, 0);
    /* font-style: italic; */
    color: brown;
}

sup {
    /* font-size: xx-small; */
    /* font-size: 7px; */
    font-weight: bold;
}

/* span.translated:active>sup.strnum {
    display: inline;
    margin-left: 3px;
}
span.translated:active>sup.strnum::before {
    content: attr(data-xlit)" "attr(data-lemma)" (";
}
span.translated:active>sup.strnum::after {
    content: ')';
} */

main span {
    /* font-size: x-small; */
}

.translated[trans] {
    /* font-size: xx-small; */
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wordsearch::-webkit-input-placeholder,
#reference::-webkit-input-placeholder {
    font-style: italic;
}

#wordsearch:-moz-placeholder,
#reference:-moz-placeholder {
    font-style: italic;
}

#wordsearch::-moz-placeholder,
#reference::-moz-placeholder {
    font-style: italic;
}

#wordsearch:-ms-input-placeholder,
#reference:-ms-input-placeholder {
    font-style: italic;
}

.search_options {
    display: none;
    font-size: small;
    font-style: italic;
    color: whitesmoke;
}

/* .strnum:before {content: " " attr(data-xlit) " ";} */
.eng2grk {
    text-indent: -9999px;
}

.eng2grk>span {
    display: inline;
    font-weight: bold;
}

/* 
.strnum:after {
    content: attr(data-lemma);
    font-style: italic;
}   */

#searchresultwindow {
    position: absolute;
    top: 12px;
    right: 5px;
    height: 100%;
    width: 150px;
}

.relative {
    position: relative;
    /* margin-top: 100px; */
    /* width: 100%;*/
    height: 100%;
}

#searchPreview {
    position: absolute;
    top: 5px;
    right: 0;
    width: 150px;
    padding: 5px 0 5px 0;
    background-color: white;
    border: 0.5px solid black;
    min-height: 0px;
    max-height: 90%;
    overflow-y: scroll;
}

#searchPreview>* {
    display: block;
    padding: 0 5px;
}

#searchPreview [ref]:hover {
    /* font-size:medium; */
    font-weight: bolder;
    /* background-color: rgb(255, 255, 157); */
    border-bottom: 1px dashed blue;
    border: 2px solid gray;
}

#searchboxtitlebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 12px;
    border: 0.5px solid whitesmoke;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 2;
}

#searchrelative {
    display: flex;
}

#searchclose {
    /* position: absolute;
    top: 0px;
    right: 0px; */
    /* height: 5px; */
    padding: 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-left: 0.5px solid black;
    /* color:white;
    background-color: rgb(158, 42, 0); */
}

#searchclose:active,
#searchminimize:active {
    font-style: italic;
}

#searchclose:hover {
    background-color: lightpink;
}

#searchminimize:hover {
    background-color: greenyellow;
}

#searchminimize {
    /* position: absolute;
    top: 0px;
    right: 22px; */
    /* height: 5px; */
    padding: 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-left: 0.5px solid black;
    /* color:black;
    background-color: greenyellow; */
    /* z-index: -1; */
}

#searchparameters input {
    height: 10px;
    width: 10px;
}
#searchparameters {
    display: block;
    border-bottom: 1px solid var(--scroll-track-bg-color);
    border-top: 0;
    background-color:var(--ref-hlt);
    font-size: 10px;
}
#searchPreviewWindowFixed {
    width: 150px;
    height: 98.5%;
    border-right: 5px solid;
    overflow-y:hidden;
    background-color: var(--verse-higlight);
    border: 2px solid;
    font-size: 12px;
}

#searchPreviewFixed {
    display:table-row;
    height: 92%;
    float: left;
    width: 150px;
    overflow-y: scroll;
}

#searchPreviewFixed>* {
    display: block;
    padding: 0 5px;
}

.displaynone {
    display: none !important;
}

.displayshow {
    display: block !important;
}

@keyframes blink {
    0% {
        background-color: beige;
    }

    75% {
        background-color: rgb(255, 170, 80);
    }

    100% {
        background-color: beige;
    }
}

.vglow {
    animation: blink 3s 2;
    animation-direction: alternate;
}

.vhlt {
    background-color: var(--vhlt);
    border: 0.25px solid var(--vhlt-border);
    border-radius: 2px;
    border-style: inset;
}

.vhlt+.vhlt {
    border-top: 0;
}

#mobilebuttons {
    display: none;
}

@media screen and (max-device-width: 500px) {

    html {
        font-size: 27px;
    }

    #mobilebuttons {
        display: flex;
        position: absolute;
        width: auto;
        background-color: transparent;
        top: calc(100vh - 50px);
        right: 0;
        ;
        height: 100px;
    }

    #mobilebuttons>button {
        display: block;
        width: 100px;
        height: 50px;
        font-size: larger;
    }

    .buttons {
        position: absolute;
        top: calc(100vh - 150px);
        right: 0;
        max-width: calc(100vw);
        /* background-color: transparent!important; */
    }

    .buttons>div {
        width: 100vw;
        height: 100px;
    }

    .buttons * {
        font-size: 27px !important;
        min-height: 50px;
        min-width: 50px;
    }

    .buttons button {
        float: right
    }

    #reference {
        width: 100vw;
    }

    #wordsearch {
        width: 100vw;
        top: 50px;
    }

    #togglenavbtn {
        min-height: 75px;
        min-width: 75px;
        font-size: 50px !important;
        display: none !important;
    }

    #searchdiv,
    #refdiv {
        display: none;
    }

    h2 {
        font-size: 20px;
    }

    code {
        font-size: 20px;
        font-weight: bold;
    }

    #searchPreview {
        width: calc(100vw - 40px);
        height: calc(100vh - 200px) !important;
        /* left: 20px; */
        right: 10px;
        border: 5px solid red;
    }

    #searchboxtitlebar div {
        font-size: 18px;
        display: flex;
    }
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: var(--scroll-track-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bgcolor);
    border-top: 2px solid var(--scroll-thumb-border-color);
    border-bottom: 2px solid var(--scroll-thumb-border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-bg-color);
    border-top: 2px solid var(--scroll-thumb-hover-border);
    border-bottom: 2px solid var(--scroll-thumb-hover-border);
}

/* BEREAN BIBLE */
.section_headings {
    display: none;
}

.vmultiple {
    display: flex !important;
}

.vmultiple>span {
    display: table-cell;
    width: auto;
    min-width: 50%;
    row-gap: 0;
}